
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
    color: #333;
    background-color: #fff;
    /* min-width: 1226px; */
    overflow-x: hidden;
}
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot'),
    url('../iconfont/iconfont.woff') format('woff'),
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.top{
    width: 100%;
    height: 120px;
    background: url("../images/1-top/topBanner.jpg") no-repeat center center;
    background-size: cover;
    background-position: bottom;
    cursor: pointer;
}

.nav{
    width: 100%;
    min-width: 50vw;
    height: 40px;
    background-color: #333;
}

.nav_content{
    width: 1226px;
    min-width: 1226px;
    height: 40px;
    margin: 0 auto;
}

.login{
    float: right;
}

.nav_service{
    float: left;
    list-style: none;
}

.nav_service li{
    display: inline-block;
    padding: 0 5px;
    line-height: 40px;
    cursor: pointer;
    color: whitesmoke;
}

.nav_service li a{
    color:#b0b0b0;
    transition: all 0.5s;
    font-size: 1.5vmin;
    text-decoration: none;
}

.nav_service span{
    color: #424242;
}

.nav_service li a:hover{
    color: white;
}

.nav_personal li{
    display: inline-block;
    line-height: 40px;
    padding: 0 5px;
    font-size: 1.5vmin;
}

.highLight{
    background-color: #424242;
}

.highLight i{
    font-family: "iconfont" !important;
    font-size: 25px;
    font-style: normal;
    line-height: 20px;
    vertical-align: -2px;
    margin-right: 4px;
    color: #b0b0b0;
}

.nav_personal li a{
    color: #b0b0b0;
    text-decoration: none;
    transition: all 0.5s;
}

.nav_personal li a:hover{
    color: whitesmoke;
}

.nav_personal span{
    color: #424242;
}

.content{
    width: 1226px;
    min-width: 1226px;
    height: 750px;
    margin: 0 auto;
}

.logoNav{
    width: 1226px;
    min-width: 1226px;
    height: 100px;
    text-align: center;
    float: left;
    font-size: 0;
}

.imgCntent{
    float: left;
    margin-top: 23px;
}

.ification{
    height: 100px;
    float: left;
    margin-left: 181px;
    padding: 20px 0;
}

.ification ul{
    padding: 20px 0;
}

.ification ul li{
    padding: 0 8px;
    display: inline-flex;
    list-style: none;
    text-align: right;
}

.logoNav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 1.8vmin;
    cursor: pointer;
}

.logoNav ul li a:hover{
    border-bottom: rgb(241, 101, 8) 2px solid;
}

.searchInput{
    float: left;
    margin-top: 23px;
    margin-left: 50px;
}

.searchInput .ser{
    width: 230px;
    height: 50px;
    border:  1px solid #e0e0e0;
    float: left;
    outline: none;
}

.searchInput .sub{
    width: 50px;
    height: 50px;
    border:  1px solid #e0e0e0;
    float: left;
    font-family: "iconfont" !important;
    font-size: 25px;
    color: #424242;
}

.sub:hover{
    background-color: rgb(241, 101, 8);
    transition: all 0.5s;
}

.banner{
    width: 1226px;
    height: 460px;
    background-size: cover;
    float: left;
    overflow: hidden;
    position: relative;
}
/* 
    animation: move 30s linear infinite 0s normal;
    参数依次为：定义的动画的名字 动画持续的时间 运动方式 动画循环执行的次数 动画延迟执行的时间 动画运行方向

    运动方式有：linear线性过渡，ease平滑过渡，ease-in由慢到快，ease-out由慢到快，ease-in-out由慢到快再到慢
    动画执行次数的值有：infinite无限循环，number循环的次数
    运动方向：normal正常方向，reverse反方向运行，alternate先正常再反方向并持续交替运行，alternate-reverse先反再正，持续交替运行
*/
.showBanner{
    width: 7400px;
    height: 460px;
    animation: move 30s linear infinite 0s normal paused;
}

/* 
    @keyframes move表示定义了一个名为move的动画关键帧规则
    0%{margin-left: 0}表示在0%这个时间点，元素的margin-left为0。
    后面依此类推
*/
@keyframes move {
    0% {
        margin-left: 0;
    }
    18% {
        margin-left: 0;
    }
    
    20% {
        margin-left: -1226px;
    }
    38% {
        margin-left: -1226px;
    }
    40% {
        margin-left: -2452px;
    }
    58% {
        margin-left: -2452px;
    }
    60% {
        margin-left: -3678px;
    }
    78% {
        margin-left: -3678px;
    }
    80% {
        margin-left: -4904px;
    }
    98% {
        margin-left: -4904px;
    }
    100% {
        margin-left: -6130px;
    }
}

.showBanner li{
    width: 1226px;
    height: 460px;
    list-style: none;
    float: left;
    cursor: pointer;
}

.menu{
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 0;
}

.menu ul li{
    list-style: none;
    cursor: pointer;
    position: relative;
}

.menu ul li a{
    text-decoration: none;
    color: #e0e0e0;
    font-size: 1.5vmin;
    padding-left: 25px;
    line-height: 42px;
}

.menu ul li:hover{
    background-color: rgb(241, 101, 8);
}

.menu ul li span{
    color: #e0e0e0;
    font-size: 1.5vmin;
    position: absolute;
    top: 10px;
    right: 20px;
}

.ward{
    width: 40px;
    height: 70px;
    font-size: 50px;
    color: #757575;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    font-family: "iconfont" !important;
    top: 50%;
    margin-top: -35px;
    transition: all .5s;
}

.ward:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.forward{
    left: 230px;
}

.backward{
    right: 0;
}

.point{
    height: 20px;
    position: absolute;
    right: 30px;
    bottom: 15px;
}

.point span{
    float: left;
    width: 6px;
    height: 6px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 5px;
    margin: 0 5px;
    border-color: rgba(0, 0, 0, 0.4);
    transition: all .3s;
    cursor: pointer;
}

.point span:hover{
    background-color: #b0b0b0;
}

.recommend{
    width: 100%;
    height: 170px;
    float: left;
    margin: 14px auto 26px;
}

.app{
    width: 234px;
    height: 170px;
    float: left;
    background-color: #5f5750;
    text-align: center;
}

.app li{
    float: left;
    width: 78px;
    height: 85px;
    padding: 18px 3px 0;
    color: rgba(255, 255, 255, 0.7);
    transition: color .2s;
    border-left: 1px solid #757575;
    border-bottom: 1px solid #757575;
    cursor: pointer;
    list-style: none;
    z-index: 2;
}

.app li:hover{
    color: #fff;
}

.app li i{
    display: block;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    margin-bottom: 4px;
    font-family: "iconfont" !important;
}

.productImg{
    width: 992px;
    height: 170px;
    float: left;
}

.productImg li{
    float: left;
    list-style: none;
    margin-left: 14.6px;
}

.productImg li img{
    width: 316px;
    height: 170px;
}

.star{
    width: 1226px;
    height: 470px;
    margin: 0 auto;
}

.title{
    width: 1226px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    line-height: 58px;
}

.title p{
    font-size: 2.4vmin;
    color: #333;
}

.title span{
    cursor: pointer;
    font-family: "iconfont" !important;
}

.product{
    width: 1226px;
    height: 340px;
    display: flex;
    justify-content: space-between;
}

.product li:nth-child(1){
    border-top: 1px solid #ffac13;
}

.product li:nth-child(2){
    border-top: 1px solid #83c44e;
}

.product li:nth-child(3){
    border-top: 1px solid #2196f3;
}

.product li:nth-child(4){
    border-top: 1px solid #e53935;
}

.product li:nth-child(5){
    border-top: 1px solid #00c0a5;
}

.product li{
    width: 230px;
    height: 340px;
    background-color: #fafafa;
    padding-top: 30px;
    float: left;
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
    box-shadow: 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow .3s linear;
}

.product li:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0 15px 30px;
}

.product li img{
    width: 160px;
    cursor: pointer;
}

.product li p{
    padding: 5px;
}

.pname{
    font-size: 1.6vmin;
    cursor: pointer;
}

.pdes{
    font-size: 1vmin;
    color: #b0b0b0;
}

.price{
    color: #ff6709;
}

.main{
    width: 100%;
    padding-top: 50px;
    background-color: #f5f5f5;
}

.module{
    width: 1226px;
    height: 700px;
    margin: 0 auto;
}

.hardProduct{
    width: 1226px;
    height: 700px;
    display: flex;
    justify-content: space-between;
}

.aside{
    width: 234px;
    height: 615px;
    float: left;
}

.aside img{
    width: 234px;
}

.list{
    width: 992px;
    height: 614px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 10px;
}

.list li{
    width: 234px;
    height: 300px;
    list-style: none;
    text-align: center;
    float: left;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow .3s linear;
}

.list li:hover{
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.5) 0 15px 30px;
}

.list li img{
    width: 220px;
    height: 220px;
}

h3{
    font-size: 1.5vmin;
}

h4{
    font-size: 1.5vmin;
    color: #ff6709;
}

p{
    font-size: 1vmin;
    color: #b0b0b0;
}

.catelog{
    width: 340px;
    display: flex;
    justify-content: space-between;
}

.catelog li{
    float: left;
    list-style: none;
    cursor: pointer;
}

.catelog li a{
    color: black;
    text-decoration: none;
    padding-bottom: 3px;
}

.catelog li a:hover{
    color: #ff6709;
    border-bottom: #ff6709 solid 2px;
}

.list .more{
    background-color: #f5f5f5
}

.moreTop{
    height: 143px;
    position: relative;
    margin-bottom: 14px;
    background-color: white;
}

.introduce{
    position: absolute;
    left: 0;
    top: 50px;
}

#moreImg{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 35px;
    right: 0;
}

.moreBottom{
    height: 143px;
    position: relative;
    background-color: white;
    transition: all .2s linear;
}

.moreBottom span{
    font-size: 18px;
    color: #b0b0b0;
    position: absolute;
    left: 0;
    top: 50px;
}

.moreBottom p{
    color: #b0b0b0;
    position: absolute;
    left: 0px;
    top: 80px;
}

.moreBottom i{
    font-size: 5vmin;
    color: #ff6709;
    font-family:"iconfont" !important;
    position: absolute;
    top:45px;
    right: 20px;
}

.hotsales{
    width: 1226px;
    height: 400px;
    margin: 0 auto;
}

.hotlist{
    width: 1226px;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.hotsales li{
    width: 300px;
    height: 340px;
    float: left;
    cursor: pointer;
    box-shadow: 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow .3s linear;
}

.hotsales li:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 0 15px 30px;
}

.hotsales li p{
    font-size: 14px;
    color: black;
}

.hotsales li p span{
    font-size: 14px;
    color: red;
}

.hotsales li img{
    width: 300px;
}

.other{
    width: 1226px;
    height: 500px;
    margin: 0 auto;
}

.otherlist{
    width: 1226px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.otherlist li{
    list-style: none;
    float: left;
}